@import '../styles/colors';

.container {
    margin: 21vh 0 4vh 0;
    padding: 20px 0;
}

.card-body {
    text-align: center;
}

.card-title {
    color: $orange;
}

label {
    color: $orange;
    margin-top: 20px;
    width: 100%;
    text-align: left;

    &:first-child {
        margin-top: 0;
    }
}

#submit-button {
    color: white;
    background: $orange;
    margin-top: 25px;
}

.loyaltyBadge {
    width: 100px;
    height: 100px;
}