@import '../styles/colors';

.container {
    padding: 20px 0;
}

.card-body {
    text-align: center;
}

.card-title {
    color: $orange;
}

label {
    color: $orange;
    margin-top: 20px;
    width: 100%;
    text-align: left;

    &:first-child {
        margin-top: 0;
    }
}