.App {
  text-align: center;
}

.TalentNavigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 25px 50px;
}

.TalentNavigationLinks {
  display: flex;
  flex-direction: row;
}

.TalentNavigationLinks a {
  margin-left: 100px;
}

.PostJob {
  margin: 50px auto;
  width: 600px;
}

.PostJob h1 {
  text-align: center;
}

.PostJob Form {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.PostJob Button {
  margin-top: 20px;
}


.choice {
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 60%;
    border: 1px solid gray;
    padding: 2rem;
}

.welcome-title {
    text-align: center;
    margin: 2rem auto;
}
