.ib-div {
    width: 80%;
}

.info-box {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.display-3 .info-box {
    width: 100%;
    text-align: center;
}

@media(min-width: 576px) {
    .jumbotron {
        padding: 2rem 2rem !important;
    }
}