@import 'colors';

.btn-register, .btn-login {
  color: white;
  border: 1px solid white !important;
  border-radius: 10px;
  width: 200px;
  text-transform: uppercase !important;
}

.btn-register {
  background-color: $orange !important;
  &:hover {
    background-color: darken($orange, 10%) !important;
  }
}

.btn-login {
  background-color: $blue-medium !important;
  &:hover {
    background-color: darken($blue-medium, 10%) !important;
  }
}

.btn-orange {
  text-transform: uppercase !important;
  background-color: $orange !important;
  border: none !important;

  &:hover {
    background-color: darken($orange, 10%) !important;
  }
}
