@import 'colors';

.app-footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background-color: $blue-dark;
  color: white;

  div {
    margin: 2rem 4rem;
  }

  a {
    display: block;
    color: white;
    text-decoration: none;
    margin-bottom: 4px;

    &:hover {
      color: $orange;
    }
  }
}

.social-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  img {
    width: 30px;
    margin: 0 10px;
  }
}

.credits {
  background-color: $blue-darker;
  color: $blue-light;
  text-align: center;
  font-size: .8rem;
  font-style: italic;
  padding: .6rem;
}
