@import 'colors';

.hero-box {
  width: 100%;
  margin: 0;
}

.hero {
  background-image: url(../images/recording-studio-bkg.jpg);
  background-size: auto;
  background-position: center;
  // transform:scaleX(-1);
  display: flex;
  justify-content: flex-end;
    // padding: 4rem 0 !important;
}

.onboard-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  // transform:scaleX(-1);
  color: white;
  background-color: $blue-dark;
  border: 1px solid white;
  border-radius: 30px;
  padding: 2.0rem 4rem;
  

  h2 {
    color: white;
    font-size: 2.0rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  p {
    margin: 1rem 0;
  }
}
