@import 'colors';

.infobox {
  width: 80%;
  margin: 2rem auto 4rem ;

  h1 {
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 800;
    font-size: 3.0rem;
    text-align: center;
    color: $orange;
  }
}
