.div {
    width: 90%;
    margin: 0 auto;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sampleDiv {
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sampleInput {
    width: 80%;
    margin: 0 auto;
}

.sampleTitle {
    margin-bottom: 30px;
    width: 333px;
    font-size: 32px;
    border-bottom: 1px solid black;
    font-weight: lighter;
}

.sampleButton {
    width: 80%;
}

.sampleButton:hover {
    background-color: #FF934F;
    color: white;
}